Django==1.6.5
Pillow==2.5.3
Whoosh==2.6.0
argparse==1.2.1
django-allauth==0.18.0
django-appconf==0.6
django-flatblocks==0.8
django-haystack==2.3.1
django-lazysignup==0.12.2
django-simple-captcha==0.4.2
django-summernote==0.5.15
django-user-accounts==1.0c9
django-wysiwyg==0.7.0
djorm-ext-pgfulltext==0.10
haystack==0.15
oauthlib==0.6.3
python-ptrace==0.7
python3-openid==3.0.4
pytz==2014.7
requests==2.4.1
requests-oauthlib==0.4.1
six==1.8.0
sorl-thumbnail==11.12.1b
