{% extends "page_base.html" %}
{% load tags_app_zapsum %}

{% block title %}Дневник пользователя :: {{ obj_author.nickname }}{% endblock %}

{% block content %}
	<section class="section diary_public">
		<div class="page-header">
			<h2>Дневник пользователя :: {{ obj_author.nickname }}</h2>
		</div>

		{% if obj_diary_paginated %}
		<table class="list_table">
			<thead>
				<tr>
					<td>Заголовок</td>
					
					<td>Дата</td>
				</tr>
			</thead>
			
			<tbody>
				{% for entry in obj_diary_paginated %}
					<tr class="article">
						<td class="cell_title">
							<a class="article_link" href="/record/{{ entry.id }}/">
								{% if entry.title %}
									<span class="">{{ entry.title }}</span>
								{% endif %}		
							</a>	
						</td>
							
						<td class="cell_date">
							<a class="article_link" href="/record/{{ entry.id }}/">
								{% if entry.date %}
									{{ entry.date }}
								{% endif %}		
							</a>
						</td>														
					</tr>
				{% endfor %}
			</tbody>			
		</table>	
		{% else %}	
			<p>По не сделано ни одной записи</p>
		{% endif %}		

		{% part_pagination obj_diary_paginated list_pages last_page first_page %} 
	</section>
{% endblock %}