{% extends "page_base.html" %}
{% load tags_app_zapsum %}

{% block title %}Популярные дневники{% endblock %}

{% block content %}
	<section class="section popular_authors">
		<div class="page-header">
			<h2>Популярные дневники</h2>
		</div>

		<table class="list_table">
			<thead>
				<tr>
					<td>Автор дневника</td>

					<td>Количество просмотров</td>
				</tr>
			</thead>
			
			<tbody>
				{% for entry in popular_authors_paginated %}
					<tr class="article author_line">							
						<td class="cell_title">
							<a class="article_link" href="/profile/{{ entry.id }}/">
								{% if entry.nickname %}
									<h3 class="h3">{{ entry.nickname }}</h3>
								{% endif %}		
							</a>
						</td>

						<td class="cell_actions">
							{% if entry.views %}
								<h3 class="h3">{{ entry.views }}</h3>
							{% endif %}						
						</td>																						
					</tr>
				{% endfor %}
			</tbody>			
		</table>

		{% part_pagination popular_authors_paginated list_pages last_page first_page %} 	
	</section>
{% endblock %}