{% extends "page_base.html" %}
{% load tags_app_zapsum %}

{% block title %}Новые дневники{% endblock %}

{% block content %}
	<section class="section new_authors">
		<div class="page-header">
			<h2>Новые дневники</h2>

			<div class="hide" id="count_new_authors">{{ count_new_authors }}</div>
		</div>

		<table class="list_table">
			<thead>
				<tr>
					<td><!-- Имя пользователя --></td>

					<td><!-- Действия --></td>
				</tr>
			</thead>
			
			<tbody>
				{% for entry in new_authors %}
					<tr class="article author_line">							
						<td class="cell_title">
							<a class="article_link" href="/profile/{{ entry.id }}/">
								{% if entry.nickname %}
									<h3 class="h3">{{ entry.nickname }}</h3>
								{% endif %}		
							</a>
						</td>

						<td class="cell_actions">
							<button type="button" class="btn btn-default btn-xs">
								<a class="glyphicon glyphicon-list-alt" href="/diary/{{ entry.id }}/">Дневник</a>
							</button>

							<button type="button" class="btn btn-default btn-xs">
								<a class="glyphicon glyphicon-user" href="/profile/{{ entry.id }}/">Профиль</a>
							</button>							
						</td>																						
					</tr>
				{% endfor %}
			</tbody>			
		</table>

		<form class="more_button_outer" action="/new_authors/" method="POST">
			<input class="btn btn-default more_button" type="submit" value="Показать ещё" />
		</form>		

		{#% part_pagination all_user_entries_paginated list_pages last_page first_page %#} 	
	</section>
{% endblock %}