{% extends "page_base.html" %}

{% block title %}Последние записи{% endblock %}

{% block content %}
	<section class="section new_records">
		<div class="page-header">
			<h2>Последние записи</h2>

			<div class="hide" id="count_new_records">{{ count_new_records }}</div>
		</div>

		<table class="list_table">
			<thead>
				<tr>
					<td>Заголовок записи</td>

<!-- 					<td>Дата создания</td>

					<td>Дата редактирования</td> -->
				</tr>
			</thead>
			
			<tbody>
				{% for entry in new_records %}
					<tr class="article record_line">							
						<td class="cell_title">
							<a class="article_link" href="/record/{{ entry.id }}/">
								{% if entry.title %}
									<h3 class="h3">{{ entry.title }}</h3>
								{% endif %}		
							</a>
						</td>																										
					</tr>
				{% endfor %}
			</tbody>			
		</table>

		<form class="more_button_outer" action="/new_authors/" method="POST">
			<input class="btn btn-default more_button" type="submit" value="Показать ещё" />
		</form>	
	</section>	
{% endblock %}