{% extends "page_base.html" %}

{% block title %}Изменить пароль{% endblock %}

{% block content %}
	<section class="section pass_change">
		<div class="page-header">
			<h2>Изменить пароль</h2>
		</div>

		<form class="password_form common_form" action="#" method="POST">
			{% csrf_token %}
			
			<div class="cell input_outer">
				<label class="label">{{ form.password_old.label }}</label>
				
				{{ form.password_old }}
				
				{{ form.password_old.errors }}
			</div>

			<div class="cell input_outer">
				<label class="label">{{ form.password1.label }}</label>
				
				{{ form.password1 }}
				
				{{ form.password1.errors }}
			</div>

			<div class="cell input_outer">
				<label class="label">{{ form.password2.label }}</label>
				
				{{ form.password2 }}
				
				{{ form.password2.errors }}
				
				{{ form.non_field_errors }}
			</div>		
		
			<div class="cell submit_outer">
				<input class="btn btn-default" type="submit" value="Изменить" />
			</div>
		</form>
	</section>
{% endblock %}