{% extends "page_base.html" %}
{% load staticfiles thumbnail %}

{% block title %}Изменить аватар{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>Изменить аватар</h2>
	</div>

	<form class="avatar_form" id="avatarForm" action="{% url 'change_avatar' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="cell image_outer">
			<label class="label hide">{{ form.avatar.label }}</label>
			
			{% if avatar %}
				<a class="link_block fancybox" href="{{ avatar.url }}">
					{% thumbnail avatar "83x83" crop="center" as im %}
						<div><img id="ava_img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></div>
					{% endthumbnail %}	
				</a>
			{% endif %}
			
			{{ form.avatar }}
			
			{{ form.avatar.errors }}
		</div>				
			
		<div class="cell submit_outer">
			<input id="avaSubmit" class="btn btn-default" type="submit" value="Изменить" />
		</div>
	</form>
{% endblock %}