{% extends "page_base.html" %}
{% load thumbnail %}

{% block title %}Изменить профиль{% endblock %}

{% block content %}
	<section class="section profile">
		<div class="page-header">
			<h2>Изменить профиль</h2>
		</div>

		<form class="profile_form" id="profile_form" action="" method="post" novalidate>
			{% csrf_token %}

			<div class="cell input_outer">
				<label class="label">{{ form.nickname.label }}</label>
				
				{{ form.nickname }}
				
				{{ form.nickname.errors }}
			</div>					

			<div class="cell input_outer">
				<label class="label">{{ form.gender.label }}</label>
				
				{{ form.gender }}
				
				{{ form.gender.errors }}
			</div>				
			
			<div class="cell input_outer">
				<label class="label">{{ form.phone.label }}</label>
				
				{{ form.phone }}
				
				{{ form.phone.errors }}
			</div>		

			<div class="cell input_outer">
				<label class="label">{{ form.skype.label }}</label>
				
				{{ form.skype }}
				
				{{ form.skype.errors }}
			</div>						

			<div class="cell input_outer">
				<label class="label">{{ form.other.label }}</label>
				
				{{ form.other }}
				
				{{ form.other.errors }}
			</div>				
			
			<div class="cell submit_outer">
				<input class="btn btn-default btn_submit" type="submit" value="Сохранить изменения">
			</div>
		</form>
	</section>
{% endblock %}