{% extends "page_base.html" %}

{% block title %}правила{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>Правила</h2>
	</div>

	<p class="lead">Вы находитесь на очередном моём экспериментальном проекте «Записки сумасшедшего». Это сервис онлайн-дневников, сделанный забавы ради. Здесь вы можете вести дневник, просматривать дневники других участников, настраивать доступ к своим записям, посылать ругательные сообщения участникам</p>

	<p class="lead">Для тех, кому лень регистрироваться публикую реквизиты для входа через тестовый аккаунт: <br /><b>Логин: qwerty</b> <br /><b>Пароль: qwerty</b> </p>

	<p class="lead">Обращаю ваше внимание на то, что правила поведения на этом ресурсе только два: <br />1. не взламывать сайт <br />2. оставить хотя бы одно сообщение в <a href="/guestbook/">книге отзывов</a></p>
	<p class="lead"></p>
	<p class="lead"></p>
	<p class="lead"></p>

	<p>Политика конфиденциальности <a href="{% url 'privacy_policy' %}">здесь</a></p>
{% endblock %}