{% extends "page_base.html" %}
{% load tags_app_zapsum %}

{% block title %}Мои записи{% endblock %}

{% block content %}
	<section class="section my_records_list">
		<div class="page-header">
			<h2>Мои записи</h2>
		</div>

		<table class="list_table">
			<thead>
				<tr>
					<td>Дата</td>
					
					<td>Заголовок</td>
					
					<td>Действия</td>
				</tr>
			</thead>
			
			<tbody>
				{% for entry in all_user_entries_paginated %}
					<tr class="article">
						<td class="cell_date">
							<a class="article_link" href="/edit_records/{{ entry.id }}/">
								{% if entry.date %}
									<span class="date_span {% if not entry.is_active %} active_false {% endif %}">{{ entry.date }}</span>
								{% endif %}		
							</a>	
						</td>
							
						<td class="cell_title">
							<a class="article_link" href="/edit_records/{{ entry.id }}/">
								{% if entry.title %}
									<h3 class="h3 {% if not entry.is_active %} active_false {% endif %}">{{ entry.title }}</h3>
								{% endif %}		
							</a>
						</td>
						
						<td class="cell_actions">
							<button type="button" class="btn btn-default btn-xs">
								<span class="glyphicon activeRecord {% if entry.is_active %} glyphicon-plus-sign {% else %} glyphicon-minus-sign {% endif %}" data-id-rec="{{ entry.id }}">Доступ</span> 
							</button>				

							<button type="button" class="btn btn-default btn-xs">
								<a class="glyphicon glyphicon-pencil editRecord" href="/edit_records/{{ entry.id }}/">Редактировать</a> 
							</button>

							<button type="button" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-remove deleteRecord" data-id-delete="{{ entry.id }}">Удалить</span> 
							</button>
						</td>															
					</tr>
				{% endfor %}
			</tbody>			
		</table>


		{% part_pagination all_user_entries_paginated list_pages last_page first_page %} 		
	</section>
{% endblock %}