{% extends "page_base.html" %}

{% block title %}Добавить запись{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>Добавить запись</h2>
	</div>

	<form action="{% url 'add_records' %}" method="POST">
		{% csrf_token %}	
		
		<div class="cell input_outer">
			<label class="label">{{ form.title.label }}</label>
			
			{{ form.title }}
			
			{{ form.title.errors }}
		</div>		

		<div class="cell input_outer">
			<label class="label">{{ form.date.label }}</label>
			
			{{ form.date }}
			
			{{ form.date.errors }}
		</div>						

		<div class="cell input_outer">
			<label class="label">{{ form.text.label }}</label>
			
			{{ form.text }}
			
			{{ form.text.errors }}
		</div>	
		
		<div class="cell submit_outer">
			<input class="btn btn-default" type="submit" value="Добавить запись" /> 
		</div>
	</form>
{% endblock %}