{% extends "page_base.html" %}

{% block title %}правила{% endblock %}

{% block content %}
	<section class="section search_author">
		<div class="page-header">
			<h2>Поиск по автору</h2>
		</div>

		<div class="row">
			<div class="col-md-3">
				<form id="formSearchAuthor" action="/search_author/" method="POST">
					{% csrf_token %}

					<div class="cell input_outer">	
						<input id="formSearchAuthorWord" type="text" name="author" id="authorField" />
					</div>

					<div class="cell submit_outer">
						<input class="btn btn-default" id="formSearchAuthorSubmit" type="submit" value="Найти" /> 
					</div>
				</form>
			</div>

			<div class="col-md-9">
				<div class="search_list">

				</div>
			</div>
		</div>
	</section>
{% endblock %}