{% extends "page_base.html" %}
{% load staticfiles thumbnail %}

{% block title %}Запись пользователя :: {{ nickname }}{% endblock %}

{% block content %}
	<section class="section record_public">
		<div class="page-header">
			{% if avatar %}
				<a class="fancybox ava" href="{{ avatar.url }}">
					{% thumbnail avatar "50x50" crop="center" as im %}
						<img id="ava_img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					{% endthumbnail %}	
				</a>
			{% endif %}

			<h2 class="h2">{{ entry.title }}<a class="author_info" href="/profile/{{ entry.user_id }}/">{{ nickname }}</a></h2>
		</div>

		<article class="article record_article">
			<div class="body">
				{{ entry.text | safe}}
			</div>

			<div class="dates_block">
				<span class="date">{{ entry.date }}</span>

				<span class="date_mod">Дата редактирования: {{ entry.last_edit_date }}</span>
			</div>
		</article>
	</section>
{% endblock %}