{% extends "page_base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
	<section class="section profile_public">
		<div class="page-header">
			<h2>Профиль пользователя</h2>
		</div>

		<form class="profile_form" id="profile_form" action="" method="post" novalidate="">
			<input type="hidden" name="csrfmiddlewaretoken" value="u6ET2ApLZupYW7Ccyk06mQDBZJsuzcFU">

			{% if obj_author.nickname %}
				<div class="cell input_outer">
					<label class="label">Отображаемое имя</label>
					
					<input id="id_nickname" name="nickname" type="text" value="{{ obj_author.nickname }}" disabled="disabled" />
					{% if obj_user_is_active %}<span class="unactive_mark">НЕАКТИВЕН</span>{% endif %}	
				</div>	
			{% endif %}				

			{% if obj_author.gender.gender %}
				<div class="cell input_outer">
					<label class="label">Пол</label>
					
					<input id="id_skype" name="skype" type="text" value="{{ obj_author.gender.gender }}" disabled="disabled" />
				</div>	
			{% endif %}				

			{% if obj_user_date_joined %}
				<div class="cell input_outer">
					<label class="label">Дата регистрации</label>
					
					<input id="id_skype" name="skype" type="text" value="{{ obj_user_date_joined }}" disabled="disabled" />
				</div>	
			{% endif %}	


			{% if obj_user_last_login %}
				<div class="cell input_outer">
					<label class="label">Последний визит</label>
					
					<input id="id_skype" name="skype" type="text" value="{{ obj_user_last_login }}" disabled="disabled" />
				</div>	
			{% endif %}		

			{% if obj_user_email %}
				<div class="cell input_outer">
					<label class="label">E-mail</label>
					
					<input id="id_skype" name="skype" type="text" value="{{ obj_user_email }}" disabled="disabled" />
				</div>	
			{% endif %}							

			{% if obj_author.phone %}
				<div class="cell input_outer">
					<label class="label">Номер телефона</label>
					
					<input id="id_phone" name="phone" type="text" value="{{ obj_author.phone }}" disabled="disabled" />
				</div>	
			{% endif %}		

			{% if obj_author.skype %}
				<div class="cell input_outer">
					<label class="label">Skype</label>
					
					<input id="id_skype" name="skype" type="text" value="{{ obj_author.skype }}" disabled="disabled" />
				</div>	
			{% endif %}						

			{% if obj_author.other %}
				<div class="cell input_outer">
					<label class="label">Доп.информация:</label>
					
					<!--<textarea cols="40" id="id_other" name="other" rows="10" width="670px" disabled="disabled">{{ obj_author.other | safe }}</textarea>-->
					<div class="textarea">{{ obj_author.other | safe }}</div>
				</div>	
			{% endif %}	

			<div class="cell input_outer">
				<label class="label">
					<a href="/diary/{{ obj_author.user_ptr_id }}/">Ссылка на дневник</a>
				</div>	
			</label>									
		</form>
	</section>
{% endblock %}