{% extends "page_base.html" %}

{% block title %}Поиск по записям{% endblock %}

{% block content %}
	<section class="section search_record my_records_list">
		<div class="page-header">
			<h2>Поиск по записям</h2>
		</div>

		<div class="row">
			<div class="col-md-3">
				<form id="formSearchRecord" action="/search_record/" method="POST">
					{% csrf_token %}

					<div class="cell input_outer">	
						<input id="formSearchRecordWord" type="text" name="record" id="recordField" />
					</div>

					<p>Внимание! Поиск регистрозависимый - не забывайте про заглавные буквы. Поиск осуществляется по заголовкам дневников.</p>

					<div class="cell submit_outer">
						<input class="btn btn-default" id="formSearchRecordSubmit" type="submit" value="Найти" /> 
					</div>
				</form>
			</div>

			<div class="col-md-9">
				<table class="list_table">					
					<tbody>

					</tbody>			
				</table>				
			</div>
		</div>
	</section>
{% endblock %}