{% extends "page_base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>Политика конфиденциальности</h2>
	</div>

	<p class="lead">Мы относимся с большим уважением к вашей конфиденциальности и принимаем меры, чтобы гарантировать использование любой собираемой нами личной информации в строгом соответствии с нашей политикой конфиденциальности. Для нас важно, чтобы вы понимали, какая информация собирается и как она используется.</p>

	<p class="lead">При пользовании услугами данного веб-сайта пользователи могут оставлять свою личную информацию в наших регистрационных формах. Мы не предоставляем эту информацию любым, не связанным с нами третьим сторонам.</p>

	<p class="lead">При Вашем посещении сайта на ваш компьютер отсылается cookie-файл, служащий для уникальной идентификации вашего браузера. Cookie-файл представляет собой небольшой файл со строкой символов, который отсылается на ваш компьютер при посещении веб-сайта. Cookie-файлы не причиняют вреда вашему компьютеру или качеству вашей сетевой активности; напротив, мы используем cookie-файлы для совершенствования нашего сервиса и для лучшего понимания способов, используемых пользователями для взаимодействия с нами.</p>

	<p class="lead">Настройки большинства браузеров разрешают прием cookie-файлов, однако при этом Вы можете запретить браузеру принимать все cookie-файлы или настроить его так, чтобы он сообщал о пересылке cookie-файла, и Вы также можете легко удалить любой cookie-файл, отправленный вам с нашего веб-сайта.</p>

	<p>В случае если, по Вашему мнению, наш сайт нарушил данную политику конфиденциальности в отношении вашей Личной информации, или при наличии у Вас иных относящихся к конфиденциальности запросов или опасений, просим связаться с нами по адресу <a href="mailto:bg@microsoft.com">bg@microsoft.com</a></p>
{% endblock %}